# 49. Group Anagrams


Given an array of strings, group anagrams together.

## Example:

    Input: ["eat", "tea", "tan", "ate", "nat", "bat"],
    
    Output:
    [
    ["ate","eat","tea"],
    ["nat","tan"],
    ["bat"]
    ]

## Note:

    All inputs will be in lowercase.
    The order of your output does not matter.

In [4]:
from typing import *

class Solution:
    def groupAnagrams(self, strs: List[str]) -> List[List[str]]:
        d = {}

        for string in strs:
            key = "".join(sorted(string))
            if key in d:
                d[key].append(string)
            else:
                d[key] = [string]

        return [v for v in d.values()]

print(Solution().groupAnagrams(["eat", "tea", "tan", "ate", "nat", "bat"]))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]